
.contact-text {
    border-radius: 3px;
    background-color: #0e0149;
    margin-top: 50px;
    border-bottom: 4px #fff;
    border-radius: 3px;
    height: auto;
    padding: 100px 20px; /* Adjust padding as needed */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    text-align: center;
    font-family: cursive;
    align-items: center;
}
.contact-text button{
    padding: 12px 50px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 15px;
    color: #09012e;
    font-family:cursive;
}
.contact-text .fa-envelope{
    font-size: 25px;
}

.contact-text h4 {
    font-size: 3rem; /* Adjust font size as needed */
    color: #fff;
    margin-bottom: 10px; /* Add spacing between h4 and h5 */
    font-weight: 100;
    font-family: cursive;
}

.contact-text h5 {
    font-size: 18px; /* Adjust font size as needed */
    color: #fff;
    max-width: 700px; /* Adjust max-width as needed */
    font-weight: 100;
    font-family: cursive;
}



.contact-form {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    background-color: #fff; /* White background color */
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.363); /* Soft shadow */
    font-family: 'proxima-nova', sans-serif;
    color: #333; /* Dark text color */
    margin-top: 100px;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc; /* Light border color */
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4e83ff; /* Blue button color */
    color: #fff; /* White text color */
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out; /* Smooth transition */
}

input[type="submit"]:hover {
    background-color: #2c3e50; /* Darker blue on hover */
}

option {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}

#name, textarea {
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
}

.label {
    display: block;
    margin-bottom: 5px;
    color: #333; /* Dark label color */
    font-family: cursive;
    font-size: 18px;
}
.closing-text{
    border-radius: 3px;
    background-color: #4e83ff;
    margin-top: 50px;
    border-bottom: 4px #fff;
    border-radius: 3px;
    height: auto;
    padding: 50px 20px; /* Adjust padding as needed */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: cursive;
}
.closing-text h5{
    font-family: cursive;
}
