body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #28282B;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  width: 400px;
}

.container p {
  margin-bottom: 10px; /* Add some margin between the paragraph and the form */
  font-size: 20px;
  text-align: center;
  font-weight: 800;
  
}
.container .last{
  margin-bottom: 50px;
}
.container .account{
  padding-bottom: 0px;
  padding-top: 0px;
}
  
  h1{
    display: flex;
    text-align: center;
  }
  h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #555;
  }
  .AR{
    color: #555;
  }
  input,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  /* Add more styles as needed */
  